body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f9f9f9;
}
header {
  background: #4CAF50;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  display:inline;
  margin: 0 15px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
section {
  padding: 20px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
.block{
  display: inline-block;
  border-radius: 20px;
  padding: 5px 10px;
  transition: background-color 0.15s;
}
.block:hover{
  background-color: hsl(122, 31%, 38%);
}
.block:active{
  opacity: 0.7;
}
.personal{
  width: 450px;
  height: auto;
}
.caracteristicas{
  width: 420px;
  height: 420px;
  object-fit: cover;
  border-radius: 40px;
}
.redes-sociales {
  list-style: none;
  padding: 0;
}
.redes-sociales li {
  display: inline;
  margin: 0 10px;
}
@media (max-width: 600px) {
 
  .block{
    display: flex;
    flex-direction: column;
  }
  .personal{
    width:320px ;
    height: auto;
  }
  .caracteristicas{
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 40px;
  }
}