body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input, textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 95%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.google-signin-button {
    display: inline-block;
    width: 88%;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #4285F4;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid #4285F4;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
}

.google-signin-button:hover {
    background-color: #357ABD;
    border-color: #357ABD;
}

.google-signin-button:active {
    background-color: #2C6CB2;
    box-shadow: none;
}
